body {
  background-image: url("../images/background.jpg");
  font-family: monospace;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .reloj {
      width: 10em;
      margin: 1em 0;
    }
    .date{
      font-size: 3em;
      font-weight: bold;
    }
    .time {
      font-size: 2em;
      font-weight: bold;
    }
  }
}
